.link{
    color: rgb(0,113,113);
}

#p1{
    color: rgb(0,118,0);
    font-weight: bold;
}
.delivery{
    margin-top: 20px;
}
.butn{
    margin-top: 20px;
}
#cart{
    background-color: rgb(255,216,20);
    border:none;
    height: 30px;
    width: 116px;
    border-radius: 16px;
}
#buy{
    background-color:rgb(255, 164, 28);
    margin-left: 10px;
    border: none;
    height: 30px;
    width: 116px;
    border-radius: 16px;
}