.container{
    display: grid;
    justify-content: center;
    align-items: center;
}

.link{
    color: rgb(0,113,113);
}

#p1{
    color: rgb(0,118,0);
    font-weight: bold;
}
.delivery{
    margin-top: 20px;
}
.cart{
    margin-top: 20px;
}
.buy{
    margin-top: 20px;
}
.butn{
    display: flex;
}
#cart{
    background-color: rgb(255,216,20);
    border:none;
    height: 30px;
    width: 116px;
    border-radius: 16px;
    margin-right: 20px;
}
#buy{
    background-color:rgb(255, 164, 28);
    border: none;
    height: 30px;
    width: 116px;
    border-radius: 16px;
}